.dashboard {
    display: flex;
    min-height: 100vh;
}

/* .sidebar-container {
    width: 300px;
    min-width: 300px;
    min-height: 100vh;
} */

.dashnoard-main {
    flex: 1;
    min-width: 0;
}