.dashboard {
    display: flex;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  
  .dashnoard-main {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }